{% extends 'core/base.html' %}
{% block title %}Usuarios | djcadaniel {% endblock %}
{% load static %}

{% block content %}
<section class="w-full">
  <div class="contain">
    <h2 class="text-center text-[#1CA4EA] text-4xl py-10">Usuarios <span class="text-[#2AB3BF]">Activos</span></h2>
    <div class="w-full flex justify-between mb-7">
      <form class="flex justify-start items-center " action="{% url 'usuario' %}" method="get">
        <label for="" class="mr-3 text-gray-700">Buscar usuario:</label>
        <div class=" rounded-2xl border border-gray-400 border-solid flex">
          <input type="text" name="search" placeholder="Ingresa..." class="rounded-2xl border-none w-full focus:ring-0 text-gray-600" value="{{ search_term }}">
          <input type="submit" value="👁️‍🗨️" class="cursor-pointer mr-2">
        </div>
      </form>
      <a href="{% url 'export_to_excel' %}?search={{ search_term }}" class="bg-green-500 text-white p-3 rounded-lg">Download</a>
    </div>
    <div class="w-full h-[70vh] overflow-scroll">
      <div class="grid grid-cols-6 justify-center items-center text-center bg-[#58b4e1] text-white py-2 font-bold">
        <div>Usuario</div>
        <div>Area</div>
        <div>Puesto</div>
        <div>Activo</div>
        <div>Fecha-Creación</div>
        <div>Fecha-Actualización</div>
      </div>
      <div class="tbl">
        {% for user in workers %}
        <div class="grid grid-cols-6">
          <div class="flex justify-center items-center py-3">{{user.name}}</div>
          <div class="flex justify-center items-center py-3">
            {% for area in user.area.all %}
             {{ area.name }}
            {% endfor %}
          </div>
          <div class="flex justify-center items-center py-3">
            {% for area in user.puesto.all %}
             {{ area.name }}
            {% endfor %}
          </div>
          <div class="flex justify-center items-center py-3">
            {{user.active}}
          </div>
          <div class="flex justify-center items-center py-3">
            {{ user.created|date:"d/m/Y" }}
          </div>
          <div class="flex justify-center items-center py-3">
            {{ user.updated|date:"d/m/Y" }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  </div>
{% endblock %}