# Archivos Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
env/
venv/

# Archivos de configuración
*.env
*.sqlite3

# Carpetas estáticas y de medios
static/
media/

# Otros archivos
.DS_Store
.idea/