# Entornos virtuales (local)
.env/
.venv/
venv/
env/
bin/
lib/
include/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
*.manifest
*.spec

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/
/static/

# Variables de entorno
.env
.env.local
.env.production
.env.sample
.env*.local

# IDE/Editores
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*~
*.bak

# Render (opcional)
.render/